*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* header portion */
.nav-container{
    width: 100%;
    overflow: hidden;
}
.navbar{
    width: 319px;
    height: 24px;
    margin-top: 37px;
    float: right;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
}
.nav-links{
    color: #3C3C3C;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}
.nav-links:hover{
    color: #FF8367;
    transition: all 0.5s ease-out;
}

.hero-container{
    width: 100%;
    overflow: hidden;
    margin: 38px 0;
}
.half-width{
    width: 45%;
    float: left;
    margin: 15px;
    padding: 15px;
}
.half-width h1{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    color: #363958;
    text-transform: uppercase;
}
.half-width h1 span{
    color: #FF8367;
}
.half-width p{
    width: 309px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
}
.half-width img{
    width: 500px;
    height auto;
}
.about-half-width{
    margin: 150px 0 0 100px;
}
.about-half-width button{
    background-color: #FF8063;
    padding: 10px 30px;
    border-radius: 6px;
}
.about-half-width button:hover{
    background-color: #363958;
    letter-spacing: 1px;
    transition: all 0.5s ease-out;
}
.about-half-width button i{
    font-size: 24px;
    color: white;
    margin: 0 11px;
}
.about-half-width button a{
    font-family: Roboto;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
/* work portion */
.work-container{
    width: 100%;
    overflow: hidden;
    padding: 138px 0;
    background: #E5E5E5;
}
.work-container h2{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #F46060;
    text-align: center;
    margin-bottom: 50px;
}
.work-container h2 span{
    color: #363958;
}
.work-width{
    float: left;
    width: 33%;
    padding: 0 15px;
}
.work-box{
    background: #FFFFFF;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
    border-radius: 19.7436px;
    padding: 5%;
    margin: 30px 0;
}
.work-box img{
    width: 100%;
}
.work-box h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #363958;
    padding: 25px 0 12px 0;
}
.work-box p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
.work-box a h3:hover{
    color: #FF8367;
}

/* work inquery portion */
.inquery-container{
    width: 100%;
    margin-bottom: 80px;
    overflow: hidden;
}
.work-inquery{
    margin-top: 50px;
    background-image: url("images/Group_33094_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    padding: 80px 0;
    text-align: center;
}
.work-inquery h2 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
    display: inline-block;
    color: #fff;
    margin-right: 150px;
}
.work-inquery a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 6px;
    color: #FFFFFF;
    padding: 20px 30px;
    margin-left: 175px;
}

/* footer portion */
footer{
    width: 100%;
    text-align: center;
}
footer h3{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #696871;
}
footer h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #363958;
    margin-top: 16px;
}
footer ul li{
    display: inline;
    margin-left: 27px;
}
footer .social-icons-wrapper a img{
    width: 40px;
    margin: 23px 0 81px 0;
}